:root{
  --mainrod: #4e0907;
  --maingraa: #1d1e1d;
  --maingul: #f8bc16;
  --srod: #6f0d0a;
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
}


h1
h2
h3
{
font-family: "Mukta Mahee", serif; 
color: white;
}


.logo{
  position: fixed; /* Sørg for at det forbliver synligt */
  top: -40px;
  margin-left: -49.2%;
  z-index: 1000; /* for at gøre logoet interaktivt */
}


.Mainimg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center;  /* Centers the image */
  max-height: 80vh;
  width: 100%;
  overflow: hidden;               /* Ensures it fills the width */
}




/* Navbar Style */

header {
  position: fixed;
  top: 0%;
  left: 0;
  right: 0;
  padding: 0px 1.5%;
  display: flex;
  justify-content: right;
  z-index: 500;
}

.ImgFront{
  height: auto;
  min-width: 100vw;
}

header .checkbox {
  font-weight: bolder;
  font-size: 25px;
  color: #333;
}

header a{
  font-family: "Mukta Mahee", serif;
  font-weight: 400;
  font-style: light;

}

header .navigation ul {
  list-style: none;
  display: flex;
  gap: 70px;
}

header .navigation ul li {
  position: relative;
  display: inline-block;
  padding: 10px 0; 
}

header .navigation ul li a {
  text-decoration: none;
  font-size: 27px;
  color: white;
  display: inline-flex; 
  align-items: center;
  position: relative;
}

header .navigation ul li ul li a {
  text-decoration: none;
  font-size: medium;
  
}

header .navigation ul li ul {
  position: absolute;
  width: 160px;
  background: var(--navcol);
  display: none;
}

header .navigation ul li:focus-within > ul,
header .navigation ul li:hover > ul {
    display: block;
}

header label {
    font-size: 25px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 1000;
    cursor: pointer;
    display: none;
}

#box {
    display: none;
}

.navigation ul li a::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -0.5px;
  height: 2px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}


.navigation ul li a:hover::after{
  transform: scaleX(1);
  
}



/* Main content på sitet style */
main{
font-family:"Mukta Mahee", serif;
margin-top: 2%;
background-color: black;
}

main h1, h2, h3, p, a{
  color: white;
}

main .maincontent1{
  display: flex;
  flex-direction: column;
}

.content1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
}

main .radarimg{
width: 25%;
height: 25%;
}

.content1text{
  max-width: 400px;
}

.content1text h1{
  font-size: 40px;
}
.content1text p{
  font-size: 18px;
}

main #Undertext1{
display: flex;
justify-content: center;
margin-top: 2%;
}

main #undertext12 {
  max-width: 43%;
  font-size: 18px;
}
main #lowertext1{
  max-width: 100%;
}

.box1{
  display: flex;
  flex-direction: column;
  justify-content: center;
}




main .content2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 7%;
}


main .content2 h1{
  font-size: 40px;
}

main .content2 p{
  font-size: 18px;
  max-width: 70%;
  text-align: end;
}

main .content2 #Teknikimg{
  margin-top: 1%;
}


main .content2text{
  display: flex;
  flex-direction: column;  
  align-items: flex-end;
  max-width: 77%;
}

main .box2{
  display: flex;
  justify-content: center;
}





/* footer styling */

.footerimg {
  margin-bottom: .50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center;  /* Centers the image */
  max-height: 15vh;
  width: 100vw;
  overflow: hidden;               /* Ensures it fills the width */
}